<div class="row">
  <div class="col-md-12">
    <h2>Welcome to Dropbox</h2>
    <% if user_signed_in? %>
      <p class="lead">Welcome <%= current_user.first_name %> <%= current_user.last_name %></p>
      <a class="btn btn-default" href="/assets" role="button">Dropbox</a>
      <a class="btn btn-default" href="/pages/banking" role="button">Banking</a>
      <a class="btn btn-default" href="/users/edit" role="button">Reset Password</a>
    <% else %>
	    <p>Dropbox is a sophisticated file sharing and syncing service.</p>
	    <p>Your data is safe with us (Unlike the other Dropbox)!</p>
	    <p>So just Sign Up and enjoy unlimited free data service.</p>
      <a class="btn btn-default" href="/users/sign_up" role="button">Sign Up</a>
      <a class="btn btn-default" href="/users/sign_in" role="button">Sign In</a>
      <a class="btn btn-default" href="/users/password/new" role="button">Forgot Password</a>
    <% end %>
  </div>
</div>
