<h1>Listing Uploads</h1>

<table class="table">
  <thead>
    <tr>
      <th>File Name</th>
      <th>File Size</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @assets.each do |asset| %>
      <tr>
        <td><%= link_to asset.uploaded_file_file_name, asset.uploaded_file.url %></td>
        <td><%= number_to_human_size(asset.uploaded_file_file_size, :precision => 2) %></td>
        <td><%= link_to 'Delete', asset, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Upload New File', new_asset_path %>
